
<%= form_with model: [@topic, @topic_message] do |f|%>
  <div class="mb-3">
    <%= f.text_area :body, rows: 2, class: 'form-control', placeholder: 'Введите сообщение' %>
    <%#= f.text_field :user_id, class: 'form-control' %>
  </div>
  <%= f.submit "Отправить", class: "btn btn-outline-success btn-sm" %>
<% end %>
