<div class="card">
  <div class="card-body">
    <div class="card-title">
      <%= link_to 'Добавить обсуждение', new_topic_path, class: 'btn btn-outline-success btn-sm' %>
    </div>
    <br/>
    <table class="table table-striped">
      <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <td>
            <%= link_to topic.name, topic %>
          </td>
          <td align="right">
            <%=link_to edit_topic_path(topic.id) do %>
              <i class="far fa-edit"></i>
            <% end %>
            <%= link_to topic_path(topic.id), method: :delete, data: { confirm: 'Вы уверены?' } do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>





