html {
  margin: 0;
}

a {
  text-decoration: none;
  color: darkolivegreen;
  &:hover {
    text-decoration: underline;
    color: #28a745;
  }
  &:hover.btn {
    text-decoration: none;
  }
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #333;
  word-break: break-all;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.form-control:focus {
  background-color: rgba(40, 167, 69, 0.04);
  border-color: #28a745;
  box-shadow: none;
}

h3 {
  display: flex;
  align-items: center;
}

hr {
  margin: 7px 0;
  height: 1px;
  border: none;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}